@import "tailwindcss";
@import 'keen-slider/keen-slider.min.css';

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #000000;
}

@font-face {
	font-family: 'Baloo';
	src: url('/fonts/baloo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
