@import 'keen-slider/keen-slider.min.css';
@import "tailwindcss";

@theme {
	/* Dark background ape color */
	--color-apeium-surface: oklch(0.129 0.042 264.695);
	--color-apeium-surfacetint: oklch(0.208 0.042 265.755);
	--color-apeium-surfacetintier: oklch(0.279 0.041 260.031);

	/* Yellow ape accent color set */
	--color-apecent-surface: oklch(0.85 0.1658 91.936);
	--color-apecent-surfacetint: oklch(0.88 0.177 91.936);

	/* White ape neutral color set */
	--color-slape: oklch(96.7% 0.003 264.542)
}

html,
body {
	@apply bg-apeium-surface;
}

@font-face {
	font-family: 'Baloo';
	src: url('/fonts/baloo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
